body{
    background-color:#1d2d44 ;
}

#dulal{
    text-align: center;
    color: white;
    /* text-decoration: white underline; */
   font-family:Trebuchet MS', 'Lucida Sans Unicode ;
}   
h2{
    text-align: center;
    color: white;
    /* text-decoration: white underline; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
h3{
    text-align: center;
    color: white;
    text-decoration: white underline;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
pre{
    text-align: center;
    color: white;
}
#one{
    
    line-height:60px;
background-color:#f0ebd8;
text-align: center;
}

input{
    width: 300px;
    height: 30px;
}
button{
    background-color:#49111c ;
    color: white;
    width: 100px;
    height:40px ;
    
}
#two{
    text-align: center;
}
#three{
   text-align: center;
   
}
::placeholder{
    color:#;

}
